<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Jojo Banner</title>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../fonts/css/fontawesome-all.min.css" />
    <link rel="manifest" href="_manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="../app/icons/icon-192x192.png" />
</head>

<body class="" data-highlight="highlight-red">
    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>

    <div id="page">
        <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-width="280" data-menu-active="nav-welcome"
            data-menu-load="../view/menu-main.html">
        </div>

        <!-- header start -->

        <div class=" py-3 d-flex justify-content-between align-items-center px-1">
            <div class="flex-fill ps-2">
                <a href="../home4.html" class="page-title-icon bg-theme ">
                    <i class="fa-solid text-primary fa-arrow-left font-18"></i>
                </a>
            </div>
            <div class="flex-fill d-flex justify-content-end align-items-center"> </div>
        </div>

        <!-- header end -->

        <!-- body start -->

        <div class="page-content">

            <div class="container">
                <div class="row">
                    <!-- blog items will be loop here-->
                    <div class="col-lg-12 mx-auto px-0">
                        <div class="bg-white pb-2">
                            <div class="card mb-4">
                                <img src="https://etimg.etb2bimg.com/thumb/msid-81813554,width-1200,resizemode-4/.jpg"
                                    alt="">
                                <div class="bg-gradient rounded-0">
                                </div>
                            </div>
                            <div class="content mt-n2">
                                <div class="row mb-2">
                                    <div class="col-8 d-flex align-items-center">
                                        <div class="lh-1">
                                            <a href="" class="text-uppercase mr-1 "><small
                                                    class="text-muted">fashion</small></a>
                                            <a href="" class="text-uppercase mr-1 "><small class="text-muted">ONLINE
                                                    SHOPPING</small></a>
                                            <a href="" class="text-uppercase mr-1 "><small
                                                    class="text-muted">50%OFF</small></a>
                                            <a href="" class="text-uppercase mr-1 "><small
                                                    class="text-muted">NINEWEST</small></a>
                                            <a href="" class="text-uppercase mr-1 "><small class="text-muted">EXTRA 40%
                                                    OFF</small></a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="flex-fill form-check interest-check float-end mb-3 me-0">
                                            <a href="#"
                                                class="btn btn-xxs btn-full mb-3 rounded-xl text-uppercase font-700 shadow-s  border-red-light bg-danger scale-box">
                                                Claim It</a>
                                            <!-- <input class="form-check-input" type="checkbox" value="" id="check4">
                                        <label class="form-check-label shadow-xl rounded-xl" for="check4">
                                            <i class="fas fa-heart font-17 color-red-light"></i>Favourite
                                        </label>
                                        <i class="fa fa-check-circle color-white font-18"></i>
                                        <i class="fas fa-heart font-17 color-red-light"></i> -->
                                        </div>
                                    </div>
                                </div>

                                 
                                    <h2 class="text-dark">SHEIN FIT+ | Beauty comes in all shapes and sizes.</h2>
                                
                                <div class="mt-3">
                                    <div style="float:left;" >
                                        <img src="https://etimg.etb2bimg.com/thumb/msid-81813554,width-1200,resizemode-4/.jpg"
                                         width="250" class="pe-3">
                                    </div> 
                                    <p class="ps-3 mb-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                    <p class=" ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                                <div class="text-end mt-3">
                                    <div class="form-check interest-check mb-3">
                                        <input class="form-check-input" type="radio" value="like" id="like"
                                            name="choice">
                                        <label class="form-check-label shadow-xl rounded-xl" for="like">Like</label>
                                        <i class="fa fa-check-circle color-white font-18"></i>
                                        <i class="fas fa-thumbs-up text-success"></i>
                                    </div>
                                    <div class="form-check interest-check mb-3">
                                        <input class="form-check-input" type="radio" value="dislike" id="dislike"
                                            name="choice">
                                        <label class="form-check-label shadow-xl rounded-xl"
                                            for="dislike">Dislike</label>
                                        <i class="fa fa-check-circle color-white font-18"></i>
                                        <i class="fas fa-thumbs-down text-warning"></i>
                                    </div>
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <!-------- all modal ------->

            <!-- Add Baner  -->

            <div id="add-banner" class="bg-white  menu menu-box-modal rounded-m" data-menu-height="600"
                data-menu-width="400">
                <div class="menu-title">
                    <h1 class="font-24">Fill Out the form below</h1>
                    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
                </div>
                <div class="content mb-0 mt-2 pb-3">
                    <div class="input-style  has-borders validate-field mb-4">
                        <input type="text" class="form-control ps-0" id="form1acd" placeholder="Title">
                        <label for="form1acd" class="color-highlight font-11 font-500">Title</label>
                        <em>(required)</em>
                    </div>
                    <div class="input-style  has-borders no-icon mb-4">
                        <label for="form5a" class="color-highlight">Category</label>
                        <select id="form5a">
                            <option value="default" disabled="" selected="">Category</option>
                            <option value="iOS">iOS</option>
                            <option value="Linux">Linux</option>
                            <option value="MacOS">MacOS</option>
                            <option value="Android">Android</option>
                            <option value="Windows">Windows</option>
                        </select>
                        <span><i class="fa fa-chevron-down"></i></span>
                        <i class="fa fa-check disabled valid color-green-dark"></i>
                        <i class="fa fa-check disabled invalid color-red-dark"></i>
                        <em></em>
                    </div>

                    <div class="input-style  has-borders validate-field mb-4">
                        Cover Photo
                        <input type="file" name="" class="form-control ps-0" id="">
                    </div>
                    <div class="input-style  has-borders validate-field mb-4">
                        Other Photos
                        <input type="file" name="" class="form-control ps-0" id="">
                    </div>
                    <div class="input-style has-borders no-icon mb-4">
                        <textarea id="form7" placeholder="Description"></textarea>
                        <label for="form7" class="color-highlight">Description</label>
                        <em class="mt-n3">(required)</em>
                    </div>
                    <div class="input-style  has-borders validate-field mb-4">
                        <input type="url" class="form-control ps-0" id="form1acd" placeholder="Link">
                        <label for="form1acd" class="color-highlight font-11 font-500">Link</label>
                        <em>(required)</em>
                    </div>
                    <div class="input-style  has-borders validate-field mb-4">
                        <input type="number" class="form-control ps-0" id="form1acd" placeholder="coupon code">
                        <label for="form1acd" class="color-highlight font-11 font-500">coupon code</label>
                        <em>(optional)</em>
                    </div>
                    <div class="input-style has-borders no-icon mb-4">
                        <input type="date" class="form-control validate-text" id="form6" placeholder="From Date">
                        <label for="form6" class="color-highlight">From Date</label>
                        <i class="fa fa-check disabled valid me-4 pe-3 font-12 color-green-dark"></i>
                        <i class="fa fa-check disabled invalid me-4 pe-3 font-12 color-red-dark"></i>
                    </div>
                    <div class="input-style has-borders no-icon mb-4">
                        <input type="date" class="form-control validate-text" id="form6" placeholder="To Date">
                        <label for="form6" class="color-highlight">To Date</label>
                        <i class="fa fa-check disabled valid me-4 pe-3 font-12 color-green-dark"></i>
                        <i class="fa fa-check disabled invalid me-4 pe-3 font-12 color-red-dark"></i>
                    </div>
                    <div class="form-check has-borders icon-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="check1" checked="">
                        <label class="form-check-label" for="check1">Buy 1 Free 1</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="input-style  has-borders validate-field mb-4">
                        <input type="text" class="form-control ps-0" id="form1acd" placeholder="Add Brand">
                        <label for="form1acd" class="color-highlight font-11 font-500">Add Brand</label>
                        <em>(required)</em>
                    </div>
                    <a href="#" class="btn btn-full btn-m shadow-l rounded-s font-600 bg-blue-dark mt-4">Add Banner</a>
                </div>
            </div>


            <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
            <script type="text/javascript" src="../scripts/custom.js"></script>

</body>

</html>